@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;500;600;700&display=swap');

:root{
   --Very-dark-desaturated-blue: #1d1e35;
   --Soft-red: #f47c57;
   --Soft-violet: #af67e9;
   --Soft-blue: #6565e7;
   --Very-dark-grayish-blue: #4a4b5e;
   --Dark-grayish-blue: #787887;
   --Light-grayish-blue: #e7e7e9;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Kumbh Sans', sans-serif;
}

.container{
    width: 100%;
    background-image: linear-gradient(to bottom, var(--Soft-violet), var(--Soft-blue));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;

}

.accordion{
    max-width: 1000px;
    width: 100%;
    height: 600px;
    background-color: #fff;
    position: relative;
    border-radius: 16px;
    box-shadow: 1px 18px 36px 13px rgba(0, 0, 0, 0.2);
}

.box{
    position: absolute;
    top: 40%;
    left: -92px;
    z-index: 1;
}

.card{
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: -574px -284px;
}

.desktop-img{
    width: 50%;
    transform: translateX(-80px);
}

.faq{
    height: 100%;
    width: 50%;
    transition: all 0.3s ease;
    padding-right: 60px;
    position: relative;
}

h1{
    position: absolute;
    top: 70px;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    font-size: 40px;
}

.items{
    width: 90%;
    position: absolute;
    top: 120px;
}

.item{
    width: 100%;
    transition: all 0.3s ease;
    padding: 14px 0;
    border-bottom: 1px solid var(--Light-grayish-blue);
}

.question{
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
    color: var(--Very-dark-grayish-blue);
}

.question::after{
    transition: 0.3s;
    content: url(../images/icon-arrow-down.svg);
    position: absolute;
    right: 12px;
}

.answer{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    color: var(--Dark-grayish-blue);
}

.question:hover{
    font-weight: 700;
    color: var(--Soft-red);
}

.item.active .question{
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
    margin-bottom: 12px;
}

.item.active .question::after{
    transform: rotate(180deg);
}

.item.active .answer{
    transition: all 0.3s ease;
    height: 40px;
}


.attribution{
    font-size: 16px;
    width: 100%;
    text-align: center;
    bottom: 14px;
    position: absolute;
}

.attribution a{
    color: var(--Light-grayish-blue);
    text-decoration: none;
}